.App {
  text-align: center;
  margin: 1em;
}

body{
  font-family: Lato,'Source Sans Pro';
}

div.postOptions{
  width: 2em;
  height: 2em;
  font-size: 1.5em;
  margin-left: auto;
}

button#dropdown-split-basic{
 background-color: transparent;
}